/* font mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
/* font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --org-color: #FF5400;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Mulish;
}
/* common classes start */
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.section_title{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.small_title{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.section_para{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.button{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: var(--org-color);
    border: none;
}
/* common classes end */
/* header section start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
nav .logo_area{
    display: flex;
    align-items: center;
}
nav .logo_area h1{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 17px;
}
nav .logo_area span{
    color: #FF5400;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav .items_area{
    display: flex;
    align-items: center;
    gap: 44px;
}
nav .items_area li{
    list-style: none;
}
nav .items_area li:hover a{
    color: #FF5400;
}
nav .items_area li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.hamburger{
    display: none;
}
/* hero section start */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/hero-banner.png");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 100px;
}
.hero_area h1{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}
.hero_area p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
    max-width: 660px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.hero_area .hero_form{
    display: flex;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}
.hero_area .hero_form input{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    outline: none;
    width: 100%;
}

.hero_area .hero_form select{
    position: relative;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    width: 100%;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    overflow: hidden;
}

.hero_area .hero_form select::after{
    position: absolute;
    content: none;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: green;
    z-index: 9;
}

.hero_area .hero_form input[type='submit']{
    position: relative;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 15px 15px 36px;
    border: 0;
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFFFFF;
    width: 100%;
}

.hero_area .hero_form input[type='submit']::after{
    position: absolute;
    content: none;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: green;
}
/* hero section end */
/* header section end */
/* popular section start */
.popular{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}
.popular_content{
    width: 50%;
}
.popular_content p{
    margin: 24px 0;
}
.popular_content li{
    margin-bottom: 16px;
}
.popular_image{
    width: 50%;
}
.popular_image img{
    width: 100%;
}
/* popular section end */
/* destination section start */
.destination_content{
    max-width: 643px;
    text-align: center;
    margin: 0 auto;
}
.destination_content p{
    margin-top: 24px;
    margin-bottom: 48px;
}
.destination_area{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;
    margin-bottom: 100px;
}
.destination_item{
    position: relative;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
}
.destination_item:nth-child(1){
    grid-column: auto / span 6;
}
.destination_item:nth-child(2){
    grid-column: auto / span 6;
}
.destination_item:nth-child(3){
    grid-column: auto / span 4;
}
.destination_item:nth-child(4){
    grid-column: auto / span 5;
}
.destination_item:nth-child(5){
    grid-column: auto / span 3;
}
.destination_item:nth-child(6){
    grid-column: auto / span 5;
}
.destination_item:nth-child(7){
    grid-column: auto / span 7;
}
.destination_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.destination_item h5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
/* destination section end */
/* choose section start */
.choose{
    margin-bottom: 100px;
}
.choose_content{
    max-width: 643px;
    margin: 0 auto;
    text-align: center;
}
.choose_content p{
    margin-top: 24px;
    margin-bottom: 48px;
}
.choose_card_area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.choose_card_area .choose_card:nth-child(2){
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.choose_card_area .choose_card:nth-child(3){
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.choose_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 0px 32px;
    width: 48.9%;
}
.choose_card img{
    width: 64px;
    height: 64px;
}
.choose_card h1{
    margin-top: 32px;
    margin-bottom: 16px;
}
.choose_card p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
/* choose section end */
/* deals section start */
.deals{
    margin-top: 100px;
    margin-bottom: 76px;
}
.deals_content{
    max-width: 643px;
    margin: 0 auto;
    text-align: center;
}
.deals_content p{
    margin-top: 24px;
    margin-bottom: 48px;
}
.deals_card_area-one{
    background-image: url("../images/deals-1.png");
    height: 500px;
    padding-top: 56px;
    margin-bottom: 24px;
    background-repeat: no-repeat;
    object-fit: cover;

}
.deals_card_area-one .deals_card_inner{
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px 10px 0px 50px;
    margin-left: 46%;
    padding-bottom: 55px;
}
.deals_card_area-one .card_title_info{
    display: flex;
}
.deals_card_area-one .card_title_info .item{
    margin-right: 24px;
}
.deals_card_area-one .card_title_info .item img{
    margin-bottom: -5px;
    margin-right: 8px;
}
.deals_card_area-one .card_title_info span{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.deals_card_area-one .card_content h2{
    margin-top: 26px;
    margin-bottom: 16px;
}
.deals_card_area-one .card_content p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.deals_card_area-one .card_content h3{
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 24px;
}
/* card area two */
.deals_card_area-two{
    background-image: url("../images/deals-2.png");
    height: 500px;
    padding-top: 56px;
    margin-bottom: 24px;
    background-repeat: no-repeat;
    object-fit: cover;
}
.deals_card_area-two .deals_card_inner{
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px 10px 0px 50px;
    margin-left: 55px;
    padding-bottom: 55px;
}
.deals_card_area-two .card_title_info{
    display: flex;
}
.deals_card_area-two .card_title_info .item{
    margin-right: 24px;
}
.deals_card_area-two .card_title_info .item img{
    margin-bottom: -5px;
    margin-right: 8px;
}
.deals_card_area-two .card_title_info span{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.deals_card_area-two .card_content h2{
    margin-top: 26px;
    margin-bottom: 16px;
}
.deals_card_area-two .card_content p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.deals_card_area-two .card_content h3{
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 24px;
}
/* deals section end */
/* video section start */
.video{
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 100px;
}
.video_content{
    width: 50%;
}
.video_content p{
    margin: 24px 0;
}
.video_content li{
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}
.video_video{
    width: 50%;
}
.video_video video{
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}
/* video section end */
/* news letter section start */
.news_letter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 100px;
}
.news_letter_content{
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.news_letter_content_area{
    padding: 40px;
}
.news_letter_content p{
    margin-left: 0px;
}
.news_letter_content hr{
    margin: 24px 0;
    opacity: 0.2;
}
.news_letter_content form > input, button{
    display: block !important;
    height: 52px;
}
.news_letter_content form input:nth-child(2){
    margin-top: 16px;
    margin-bottom: 24px;
}
.news_letter_content form input{
    width: 100%;
    background: #FF5400;
    color: rgba(19, 19, 24, 0.30);
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    border: none;
}
.news_letter_content form input[type = submit]{
    width: 100%;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.news_letter_image{
    position: relative;
}
.news_letter_image .badge{
    background-color: var(--org-color);
    width: 324px;
    height: 120px;
    transform: rotate(-18deg);
    border-radius: 16px;
    position: absolute;
    top: 258px;
    left: 341px;
}
.news_letter_image h3{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}
.news_letter_image h2{
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
/* news letter section end */
/* footer section start */
footer{
    background: rgba(19, 19, 24, 0.05);
}
.footer{
    text-align: center;
    padding: 110px 0 100px 0;
}
.footer_logo{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.footer_logo img{
    margin-right: 16px;
}
.footer_logo h2{
    color: #131318;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.footer_logo h2 span{
    color: #FF5400;
}
.footer p{
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.footer ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 25px;
}
.footer ul li{
    list-style: none;
}
.footer ul li a{
    color: #131318;
    font-size: 24px;
}
footer hr{
    max-width: 872px;
    margin: 50px auto;
    opacity: 0.3;
}
.footer h6{
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
/* footer section end */

/* media query 1200px break point start*/
@media screen and (max-width: 1200px){
    .container{
        max-width: 970px;
    }
    .choose_card {
        width: 87.9%;
    }
    .choose_card {
        width: 47.9%;
    }
    .news_letter_image{
        width: 80%;
    }
    .news_letter_image img{
        width: 100%;
    }
    .news_letter_image .badge {
        width: 257px;
        height: 72px;
        top: 256px;
        left: 319px;
    }
    .news_letter_image h3{
        font-size: 20px;
        margin-top: 6px;
    }
    .news_letter_image h2{
        font-size: 24px;
    }
    
}
/* media query 1200px break point end*/

/* media query 1024px break point start*/
@media screen and (max-width: 1024px){
    .container{
        max-width: 740px;
    }
    .hamburger{
        display: block;
    }
    nav .items_area{
        display: none;
    }
    .popular {
        flex-direction: column;
    }
    .popular_content{
        width: 100%;
    }
    .popular_image{
        width: 100%;
    }
    .choose_card {
        width: 47.9%;
    }
    .choose_card {
        padding: 159px 32px;
    }
    .video {
        flex-direction: column;
    }
    .video_content {
        width: 100%;
    }
    .video_video {
        width: 100%;
    }
    .news_letter {
        flex-direction: column;
    }
    .news_letter_content {
        width: 100%;
    }
    .news_letter_image {
        width: 100%;
    }
    .news_letter_image .badge {
        width: 376px;
        height: 105px;
        top: 307px;
        left: 359px;
    }
    .news_letter_image h3 {
        font-size: 25px;
        margin-top: 16px;
    }
    .news_letter_image h2 {
        font-size: 35px;
    }
}
/* media query 1024px break point end*/
/* media query 768px break point start*/
@media screen and (max-width: 768px){
    .container{
        max-width: 500px;
        padding: 0 20px;
    }
    p{
        font-size: 14px !important;
    }
    .small_title{
        font-size: 20px;
    }
    nav {
        margin: 18px 0;
    }
    .logo_area img{
        height: 28.724px;
        width: 33.516px;
    }
    .logo_area h1{
        font-size: 21.543px !important;
    }
    .hero{
        height: 540px;
    }
    .hero_area h1{
        font-size: 22px;
        margin-top: 0px;
    }
    .hero_area p{
        margin-top: 8px;
        margin-bottom: 32px;
        padding: 0 16px;
    }
    .hero_area .hero_form{
        flex-direction: column;
        margin: 0 24px;
    }
    .section_title{
        font-size: 20px;
    }
    .hero{
        margin-bottom: 24px;
    }
    .popular_content p{
        margin: 16px 0;
    }
    .popular_content li{
        margin-bottom: 12px;
        font-size: 14px;
    }
    .button{
        width: 174px;
        height: 52px;
    }
    .popular{
        gap: 24px;
        margin-bottom: 24px;
    }
    .destination_content p {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .destination_area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        margin-bottom: 24px;
    }
    .destination_item{
        grid-column: auto / span 7 !important;
        height: 176px;
    }
    .destination_item h5 {
        font-size: 20px;
    }
    .choose {
        margin-bottom: 24px;
    }
    .choose_card_area {
        gap: 16px;
    }
    .choose_card {
        width: 100%;
    }
    .choose_content p {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .choose_card img {
        width: 48px;
        height: 48px;
    }
    .choose_card h1 {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .choose_card {
        padding: 115px 32px;
    }
    .video{
        margin-bottom: 24px;
    }
    .video_content p {
        margin: 16px 0;
    }
    .video_content li {
        font-size: 14px;
        margin-bottom: 16;
    }
    .news_letter {
        margin-bottom: 24px;
    }
    .news_letter_image .badge {
        width: 214px;
        height: 80px;
        top: unset;
        left: unset;
        bottom: 35px;
        right: 10px;
    }
    .news_letter_image img{
        height: 300px;
    }
    .news_letter_image h3 {
        font-size: 15px;
    }
    .news_letter_image h2 {
        font-size: 21px;
    }
    .footer_logo{
        padding-top: 32px;
    }
    .footer_logo img {
        height: 28.724px;
        width: 33.516px;
    }
    .footer_logo h2 {
        font-size: 21px;
    } 
    footer hr {
        margin: 24px 0;
    }
    .footer h6 {
        padding-bottom: 36px;
    }
}
/* media query 768px break point end*/
